@page
@model IndexModel
@{
    ViewData["Title"] = "Cars Catalogue";
}


<div>
    <a asp-page="/vehicles/upsert">Create new vehicle</a>
</div>
<div>
    @foreach(var vehicle in Model.Vehicles)
    {
        <div>
            <ul>
                <li>
                    Id: @vehicle.Id.
                </li>
                <li>
                    Name: @vehicle.Name.
                </li>
                <li>
                    Brand id: @vehicle.Brand.Id.
                </li>
                <li>
                    Brand: @vehicle.Brand.Name.
                </li>
                <li>
                    Vehicle type: @vehicle.Brand.Type.ToString().ToLowerInvariant()
                </li>
                <li>
                    Seats: @vehicle.Brand.SeatsAmount
                </li>
                <li>
                    Market segment: @vehicle.Brand.Segment.ToString().ToLowerInvariant()
                </li>
                <li>
                    Required Category: @vehicle.Brand.RequiredDriverCategory.ToString().ToLowerInvariant()
                </li>
                <li>
                    Horse Powers: @vehicle.HorsePower.
                </li>
                <li>
                    Mileage: @vehicle.Mileage km.
                </li>
                <li>
                    0-100: @vehicle.ZeroToHundred s.
                </li>
                <li>
                    Cost: @vehicle.Price rub.
                </li>
            </ul>
            <div>
                <a asp-page="/vehicles/upsert" asp-route-id="@vehicle.Id">Edit vehicle</a>
                <a asp-page="/vehicles/delete" asp-route-id="@vehicle.Id">Delete vehicle</a>
            </div>
        </div>
    }
</div>